
{% extends "base.html" %}

{% block content %}
    
    <h1>Shop</h1>
    <h1><p><b>NOVI,BOLJI POPUSTI!</b></p></h1>
   <div class="sve">
   <div class="proizvod1">
   <img src="/static/img/proizvod_1.jpeg" alt="nike hoodie" width="110">
  <h1>Nike hoodie</h1>
  <div class="tekst">
    <p><span class="sniz">$60</span> $50</p>
    </div>
  <p>Nike hoodica, dolazi u raznim bojama,može se kombinirati na sve.</p>
  <p><button>Add to Cart</button></p>
   </div>

   <div class="proizvod2">
    <img src="/static/img/proizvod_2.jpg" alt="nike hoodie" width="100">
   <h1>Nike hoodie</h1>
   <div class="tekst">
    <p><span class="sniz">$60</span> $50</p>
    </div>
   <p>Dolaze nove Nike hoodice na snjiženjzu, koje možete naću u raznim bojama i kombinirati na sve.</p>
   <p><button>Add to Cart</button></p>
    </div>

    <div class="proizvod3">
        <img src="/static/img/proizvod_3.jpg" alt="nike hoodie" width="100">
       <h1>Nike hoodie</h1>
       <div class="tekst">
       <p><span class="sniz">$60</span> $50</p>
       </div>
       <p>Zašto bi se roditelji trebali zabavljati? Bonus: Dolazi u raznim bojama, tako da možeš odgovarati svojim roditeljima ili se sama isticati!</p>
       <p><button>Add to Cart</button></p>
        </div>
   </div>
   {% endblock content %}